<h1>パスワード再設定</h1>

<p><%= @user.username %> さん</p>

<p>こんにちは。MOASISです。</p>

<p><%= @user.username %>さんのパスワード再設定のお問合せを頂きましたので、<br>
パスワード再設定URLをお送り致します。<br>
２時間以内に以下のURLよりパスワードを再設定して頂きますようお願い致します。<br>
※もしパスワード再設定のリクエストをしたことがない場合、本メールを無視してくださいませ。パスワードは登録したまま変更なしになります。</p>

<%= link_to "パスワード再設定", edit_password_reset_url(@user.reset_token, email: @user.email) %></p>