<% provide(:title, "高度な検索") %>

<div class="container-fluid movie-results">
  <% if @movie_results.blank? %>
    <p>情報が見つかりませんでした</p>
  <% else %>
    <%= render 'shared/movie_results' %>
  <% end %>
</div>