<% provide(:title, "#{@search_term} - 検索") %>

<div class="container-fluid search movie-results">
  <% if @movie_results.blank? %>
    <p>[<%= @search_term %>]と一致する情報が見つかりませんでした</p>
  <% else %>
    <p>[<%= @search_term %>]に関する映画は<%= @total_results %>本があります</p>
    <%= render 'shared/movie_results' %>
  <% end %>
</div>