<%= provide(:title, '検索') %>

<div class="container-fluid area-width search-page">
  <h1>色々な検索</h1>

  <%= render 'search_type' %>

  <%= render 'adv_search' %>

  <%= render 'shared/genres_years' %>
    
</div>