<% provide(:title, "#{@year}年の映画") %>

<div class="container-fluid area-width movie-results search-results">

  <%= render 'shared/genres_years' %>

  <hr>

  <%= render 'shared/movie_results' %>
</div>