<% provide(:title, '全ユーザ') %>

<div class="container-fluid area-width user">

  <h1>全ユーザリスト</h1>

  <div>
    <%= paginate @users %>

    <div>
      <%= render @users %>
    </div>

    <%= paginate @users %>
  </div>
</div>