@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-social";
@import "font-awesome";

/* variables */
$light-gray: #777;
$gray-medium-light: #eaeaea;
$black: #000;

/* mixins */
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* Universal */

/* body {
 	padding-top: 80px;
} */

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}

.area-width {
	width: 80%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 30px;
	text-align: center;
}

h3 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $light-gray;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}


/* header */
header {
	.navbar {
	margin-top: 0;
	}
	#logo {
		float: left;
		margin-right: 10px;
		margin-left: 15px;
		padding-top: 9px;
	}
	.navbar-form {
		padding-top: 7px;
	}
	a {
		color: #3aabd2;
		font-size: 17px;
	}
}


/* footer */
footer {
	margin-top: 45px;
	padding-top: 10px;
	border-top: 1px solid $gray-medium-light;
	color: $light-gray;
	.copyright {
		margin-left: 20px;
		float: left;
		color: #081c24;
		img {
			margin-right: 8px;
		}
	}
	a {
		color: #555;
		&:hover {
			color: #222;
		}
	}
	ul {
		/* clear: both; */
		float: right;
		margin-top: 10px;
		margin-right: 20px;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}


/* homepage */
.hm-bg1 {
	margin-top: 20px;
	padding-top: 70px;
	margin-bottom: 50px;
	background: image-url("banner2.png") no-repeat;
	background-size: 100% auto;
	/* background-size: cover; */
	p, h1, h3 {
		color: #fff;
	}
	h3 {
		font-size: 40px;
		padding-bottom: 20px;
	}
	/* img {
	 	margin-top: 20px;
	 	margin-bottom: 20px;
	} */
	.hm-buttons {
		margin: 80px auto 60px auto;
		/*margin-top: 60px;*/
		/*margin-bottom: 60px;*/
		a {
			margin: auto 15px;
		}
	}
}

.info {
	margin-top: 50px;
	margin-bottom: 30px;
	width: 70%;
	p, h4 {
		color: #3aabd2;
	}
	h4 {
		font-weight: bold;
		font-size: 27px;
	}
	p {
		padding-top: 10px;
	}
}

.now-playing {
	/*padding: 50px 120px 50px 120px;*/
	margin-top: 30px;
	margin-bottom: 50px;
	width: 80%;
	h2 {
		font-size: 50px;
		margin-bottom: 10px;
	}
	.col-md-3 {
		margin-left: 0;
		margin-right: 0;
	}
}


/* search */
.search {
	width: 80%;
	margin-top: 50px;
}
.search-page {
	
}
.movie-results {
	
}
.people-results {
	
}

/* movie info */
.movie-show {
	width: 85%;
	margin-top: 50px;
	.buttons {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	td {
		vertical-align: top;
		padding-right: 60px;
	}
	table {
		margin-bottom: 30px;
	}
	.trailers {
		.col {
			float: left;
			margin-left: 15px;
			margin-right: 10px;
		}
	}
}
/*.movie-row {
	.info-coll {
		float: left;
		width: 20%;
 	}
 	.info-col2 {
 		float: left;
 		margin-right: 20px;
 	}
}

.trailers {
 	overflow: auto;
 	clear: both;
}*/


/* person info */
.person {
	width: 80%;
	margin-top: 30px;
	img {
		padding-top: 30px;
	}
}

/* profile */
.user {
	width: 80%;
}
.stats {
	margin-left: 23%;
	/*margin-right: auto;*/
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $gray-medium-light;
		&:first-child {
			border: 0;
		}
	}
	strong {
		display: block;
	}
}

.lists {
	clear: both;
	padding-top: 20px;
	/*overflow: auto;*/
}

/* form */
.form-condition {
	color: #F06060;
}

/* alert */
.alert {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}



/* comments */
.comments {
	list-style: none;
	padding: 0;
	li {
		padding: 10px 0;
		border-top: 1px solid #e8e8e8;
	}
	.profile {
		float: left;
		margin-right: 10px;
	}
	.user {
		margin-top: 15px;
		padding-top: 0;		
	}
	.date {
		display: block;
		color: $light-gray;
		padding-left: 60px;
	}
	.content {
		clear: both;
		display: block;
		margin: 15px;
		word-wrap: break-word;
	}
}

aside {
	p {
		word-wrap: break-word;
	}
	textarea {
		height: 150px;
		width: 100%;
    margin-bottom: 5px;
	}
}