<header class="header">
	<div>
		<%= link_to "ムアシス", root_path, id: "logo" %>
		<nav>
			<ul>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Log in", '#' %></li>
				<li><%= link_to "Help", help_path %></li>
			</ul>
		</nav>
	</div>
</header>